<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestParkServlet</servlet-name>
    <servlet-class>TestParkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ss</servlet-name>
    <servlet-class>ss</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ConnectServlet</servlet-name>
    <servlet-class>ConnectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>Login_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Register_Servlet</servlet-name>
    <servlet-class>Register_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Fresh_Servlet</servlet-name>
    <servlet-class>Fresh_Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Check_Servlet</servlet-name>
    <servlet-class>Check_Servlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>TestParkServlet</servlet-name>
    <url-pattern>/TestParkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ss</servlet-name>
    <url-pattern>/servlet/ss</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConnectServlet</servlet-name>
    <url-pattern>/ConnectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login_Servlet</servlet-name>
    <url-pattern>/Login_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register_Servlet</servlet-name>
    <url-pattern>/Register_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Fresh_Servlet</servlet-name>
    <url-pattern>/Fresh_Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Check_Servlet</servlet-name>
    <url-pattern>/Check_Servlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
